.position {
    @include flex-center-item;
    background-color: #eaeaea;
    margin: 1rem;
    padding: 0;
    &__icon {
        font-size: 1.2rem;
        margin-right: 1rem;
    }
}

.intro {
    height: 18rem;
    background-color: $colour-grey;
    @include flex-center-text;
    &__title {
        width: 70%;
        padding-top: 1rem;
    }
    &__description {
        margin-top: 0px;
        margin-bottom: 2rem;
    }
}

.fonctionnement {
    height: 28rem;
    background-color: $colour-white;
    &>h2 {
        margin: 0;
        padding-top: 3rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
    }
    &>div {
        height: 18rem;
        @include flex-center-column-between;
    }
}

#restaurants {
    position: relative;
    height: 78.5rem;
    background-color: $colour-grey;
    &>h2 {
        margin: 0;
        padding-top: 3.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
    }
    &>.container_restaurant {
        opacity: 1;
        height: 68rem;
        @include flex-center-column-between;
        animation: 1s apparition 4.5s both;
    }

    @keyframes apparition {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

