body {
  box-sizing: border-box;
  background-color: #eaeaea;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 100;
}

div {
  font-size: 1.1rem;
  font-weight: 900;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
}

i {
  font-size: 1.2rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

strong {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.75rem;
}

.loading_spinner {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  left: 50%;
  top: 10rem;
  margin-left: -3rem;
  opacity: 0;
  border: 0.8rem solid #9356DC;
  border-left: 0.8rem solid #fff;
  animation: rotate 3s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  15% {
    transform: rotate(0deg);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  height: 4rem;
  box-shadow: 0px 1px 10px grey;
}
.header__logo {
  width: 11rem;
}
.header__button {
  position: absolute;
  left: 1.4rem;
}
.header__button > i {
  font-size: 1.4rem;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  margin: 1rem;
  padding: 0;
}
.position__icon {
  font-size: 1.2rem;
  position: absolute;
  left: 8rem;
}

.intro {
  height: 18rem;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.intro__title {
  width: 70%;
  padding-top: 1rem;
}
.intro__description {
  margin-top: 0px;
  margin-bottom: 2rem;
}

.fonctionnement {
  height: 28rem;
  background-color: #fff;
}
.fonctionnement > h2 {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}
.fonctionnement > div {
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#restaurants {
  position: relative;
  height: 78.5rem;
  background-color: #f6f6f6;
}
#restaurants > h2 {
  margin: 0;
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}
#restaurants > .container_restaurant {
  opacity: 1;
  height: 68rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: apparition 4s ease-in-out;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  height: 14rem;
  background-color: #353535;
}
.footer__logo {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  color: white;
  font-family: "Shrikhand";
  font-weight: 200;
}
.footer__content {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}
.footer__content--icon1 {
  font-size: 1rem;
  padding-right: 0.8rem;
}
.footer__content--icon2 {
  font-size: 0.7rem;
  padding-right: 0.8rem;
}
.footer__content > a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
}

.intro__button {
  position: relative;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(175deg, black 0%, #FF79DA 0%, #9356DC 60%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 2px;
  z-index: 1;
}
.intro__button:hover::after {
  opacity: 1;
}
.intro__button::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(175deg, black 0%, #ff93e1 0%, #9356DC 60%);
  box-shadow: rgba(99, 99, 99, 0.7) 0px 5px 8px 2px;
  opacity: 0;
  z-index: -1;
  transition: opacity ease-in-out 0.3s;
}

.step {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 20rem;
  padding: 0.5rem;
  background-color: #f6f6f6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 2px;
  border-radius: 20px;
  position: relative;
  left: 5px;
  padding: 1rem;
}
.step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #9356DC;
  color: #fff;
  width: 0;
  height: 0;
  border-radius: 35px;
  position: absolute;
  left: -14px;
}
.step__icon {
  color: grey;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}
.step__description {
  padding: 0.6rem;
}
.step--pink {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 20rem;
  padding: 0.5rem;
  background-color: #f6f6f6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 2px;
  border-radius: 20px;
  position: relative;
  left: 5px;
  padding: 1rem;
  background-color: #f5edff;
}
.step--pink__number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #9356DC;
  color: #fff;
  width: 0;
  height: 0;
  border-radius: 35px;
  position: absolute;
  left: -14px;
}
.step--pink__icon {
  color: grey;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}
.step--pink__description {
  padding: 0.6rem;
}
.step__icon--pink {
  color: #9356DC;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

.button_restaurant {
  height: 16rem;
  width: 23.5rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 2px;
  position: relative;
}
.button_restaurant__img {
  object-fit: cover;
  width: 23.5rem;
  height: 11rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.button_restaurant__title {
  margin: 0;
  padding-left: 1rem;
}
.button_restaurant__location {
  margin: 0;
  padding-left: 1rem;
}
.button_restaurant__icon {
  position: absolute;
  cursor: pointer;
  right: 1.5rem;
  bottom: 2rem;
  font-size: 1.5rem;
}
.button_restaurant__icon:hover .button_restaurant__icon--full {
  opacity: 1;
}
.button_restaurant__icon--full {
  position: absolute;
  cursor: pointer;
  right: 0;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button_restaurant__new {
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: green;
  background-color: #99E2D0;
}

.restaurant_img {
  width: 100%;
}

.menu {
  position: relative;
  height: 68rem;
}

.border_radius_ontop {
  position: absolute;
  top: -6rem;
  width: 100%;
  height: 3.5rem;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background-color: #eaeaea;
}
.border_radius_ontop > h1 {
  font-family: "shrikhand";
  font-size: 2rem;
  font-weight: 100;
  padding-left: 1.2rem;
  padding-top: 1rem;
}
.border_radius_ontop__icon {
  position: absolute;
  cursor: pointer;
  right: 3rem;
  top: 2rem;
  font-size: 1.8rem;
}
.border_radius_ontop__icon:hover .button_restaurant__icon--full {
  opacity: 1;
}
.border_radius_ontop__icon--full {
  position: absolute;
  cursor: pointer;
  right: 0;
  font-size: 1.8rem;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_section__title {
  padding-left: 1.2rem;
  margin-bottom: 0;
}

.menu_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  height: 15rem;
}

.green_underline {
  margin-left: 1.2rem;
  height: 3px;
  width: 3rem;
  background-color: #99E2D0;
}

.button_dish {
  position: relative;
  width: 23.5rem;
  height: 4.5rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 2px;
  animation: fade ease-in-out 2s;
  opacity: 0;
}
.button_dish__title {
  margin: 0;
  padding-left: 0.7rem;
  padding-top: 0.8rem;
  line-height: 1.5rem;
}
.button_dish__description {
  margin: 0;
  padding-left: 0.7rem;
  font-size: 1rem;
}
.button_dish__price {
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.button_dish:nth-child(1) {
  animation-delay: 0s;
}

.button_dish:nth-child(2) {
  animation-delay: 0.3s;
}

.button_dish:nth-child(3) {
  animation-delay: 0.6s;
}

.button_dish:nth-child(4) {
  animation-delay: 0.9s;
}

.button_dish:nth-child(5) {
  animation-delay: 1.2s;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(0, 1rem);
  }
  50% {
    opacity: 0;
    transform: translate(0, 1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.container_order {
  padding-top: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

.intro__button--order {
  position: relative;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(175deg, black 0%, #FF79DA 0%, #9356DC 60%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 2px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__button--order:hover::after {
  opacity: 1;
}
.intro__button--order::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(175deg, black 0%, #ff93e1 0%, #9356DC 60%);
  box-shadow: rgba(99, 99, 99, 0.7) 0px 5px 8px 2px;
  opacity: 0;
  z-index: -1;
  transition: opacity ease-in-out 0.3s;
}

/*# sourceMappingURL=style.css.map */
