@mixin button {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 50px;
    color: $colour-white;
    background: linear-gradient(175deg, rgba(2,0,36,1) 0%, rgba(239,116,218,1) 0%, rgba(164,92,219,1) 60%);
    box-shadow: $shadow;
}

@mixin btn_restaurant {
    height: 16rem;
    width: 23.5rem;
    border-radius: 15px;
    background-color: $colour-white;
    box-shadow: $shadow;
    position: relative;
    &__img {
        object-fit: cover;
        width: 23.5rem;
        height: 11rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__title {
        margin: 0;
        padding-left: 1rem;
    }
    &__location {
        margin: 0;
        padding-left: 1rem;
    }
    &__icon::before {
        position: absolute;
        right: 1.5rem;
        bottom: 2rem;
        font-size: 1.5rem;
        &:hover {
            display: none !important;
        }
    }
    &__icon--full {
        visibility: hidden !important;
        position: absolute;
        right: 1.5rem;
        bottom: 2rem;
        font-size: 1.5rem;
        &:hover {
            visibility: visible !important;
        }
    }
    &__new {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: green;
        background-color: $colour-tertiary;
    }
    
}

@mixin btn_plat {
    width: 23.5rem;
    
}