@mixin button {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 50px;
    color: $colour-white;
    background: $colour-btn;
    box-shadow: $shadow;
}

@mixin btn_restaurant {
    height: 16rem;
    width: 23.5rem;
    border-radius: 15px;
    background-color: $colour-white;
    box-shadow: $shadow;
    position: relative;
    &__img {
        object-fit: cover;
        width: 23.5rem;
        height: 11rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__title {
        margin: 0;
        padding-left: 1rem;
    }
    &__location {
        margin: 0;
        padding-left: 1rem;
    }
    &__icon {
        position: absolute;
        cursor: pointer;
        right: 1.5rem;
        bottom: 2rem;
        font-size: 1.5rem;
        z-index: 1;
        &:hover {
            & .button_restaurant__icon--full {
                opacity: 1;
            }
           
        }
    }
    &__icon--full {
        position: absolute;
        cursor: pointer;
        right: 0;
        font-size: 1.5rem;
        opacity: 0;
        z-index: 1;
        transition: opacity ease-in-out 0.3s;
        
        background: -webkit-linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__new {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: green;
        background-color: $colour-tertiary;
    }
    
}

@mixin btn_dish {
    position: relative;
    width: 23.5rem;
    height: 4.5rem;
    background-color: $colour-white;
    border-radius: 15px;
    box-shadow: $shadow;
    &__title {
        margin: 0;
        padding-left: 0.7rem;
        padding-top: 0.8rem;
        line-height: 1.5rem;
    }
    &__description {
        margin: 0;
        padding-left: 0.7rem;
        font-size: 1rem;
    }
    &__price {
        position: absolute;
        top: 1.4rem;
        right: 1.5rem;
        font-weight: bold;
        font-size: 1rem;
    }
}