@mixin button {
    position: relative;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 50px;
    color: $colour-white;
    background: $colour-btn;
    box-shadow: $shadow;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50px;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(175deg, $colour-black 0%, $colour-secondary-light 0%, $colour-primary 60%);
        box-shadow: $shadow-dark;
        opacity: 0;
        z-index: -1;
        transition: opacity ease-in-out 0.3s;
    }
}

@mixin btn_restaurant {
    height: 16rem;
    width: 23.5rem;
    border-radius: 15px;
    background-color: $colour-white;
    box-shadow: $shadow;
    position: relative;
    &__img {
        object-fit: cover;
        width: 23.5rem;
        height: 11rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__title {
        margin: 0;
        padding-left: 1rem;
    }
    &__location {
        margin: 0;
        padding-left: 1rem;
    }
    &__icon {
        position: absolute;
        cursor: pointer;
        right: 1.5rem;
        bottom: 2rem;
        font-size: 1.5rem;
        &:hover {
            & .button_restaurant__icon--full {
                opacity: 1;
            }
           
        }
    }
    &__icon--full {
        position: absolute;
        cursor: pointer;
        right: 0;
        font-size: 1.5rem;
        opacity: 0;
        transition: opacity ease-in-out 0.3s;
        
        background: -webkit-linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__new {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: green;
        background-color: $colour-tertiary;
    }
    
}

@mixin btn_dish {
    position: relative;
    width: 23.5rem;
    height: 4.5rem;
    background-color: $colour-white;
    border-radius: 15px;
    box-shadow: $shadow;
    overflow: hidden;
    &:hover {
        & .button_dish__check_box {
            transform: translateX(0);
        }
        & .button_dish__price {
            transform: translateX(-4.5rem);
        }
        & .button_dish__check {
            transform: rotate(360deg);
        }
    }
    &__title {
        margin: 0;
        padding-left: 0.7rem;
        padding-top: 0.8rem;
        line-height: 1.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__description {
        margin: 0;
        padding-left: 0.7rem;
        font-size: 1rem;
        width: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__price {
        padding-right: 1.5rem;
        margin: 0;
        font-weight: bold;
        font-size: 1rem;
        transition: transform ease-out .6s;
        transform: translateX(0);
    }
    &__check_box {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: right;
        width: 4.5rem;
        height: 4.5rem;
        background-color: $colour-tertiary;
        transition: transform ease-out .6s;
        transform: translateX(4.5rem);
    }
    &__check {
        align-self: center;
        background-color: $colour-white;
        color: $colour-tertiary;
        position: absolute;
        left: 28%;
        font-size: 2rem;
        border-radius: 50%;
        transition: transform ease-out .6s;
        transform: rotate(0deg);
    }
}