.position {
    @include flex-center-item;
    background-color: #eaeaea;
    margin: 1rem;
    &__icon {
        font-size: 1.2rem;
        position: absolute;
        left: 8rem;
    }
}

.intro {
    height: 20rem;
    background-color: #f6f6f6;
    @include flex-center-text;
    &__title {
        width: 70%;
        padding-top: 1rem;
    }
    &__description {
        margin-top: 0px;
    }
}

.fonctionnement {
    background-color: $colour-white;
}

.step {
    display: flex;
    width: 10rem;
    position: relative;
    &__number {
        background-color: $colour-primary;
        border-radius: 35px;
        position: absolute;
    }
    &__icon {

    }
    &__description {

    }
}