$colour-primary: #9356DC;
$colour-primary-light: lighten($colour-primary, 5);
$colour-secondary: #FF79DA;
$colour-secondary-light: lighten($colour-secondary, 5);
$colour-tertiary: #99E2D0;
$colour-dark-grey: #eaeaea;
$colour-grey: #f6f6f6;
$colour-white: #fff;
$colour-black: black;
$colour-footer: #353535;
$colour-invalid: #DB464B;
$colour-btn: linear-gradient(175deg, $colour-black 0%, $colour-secondary 0%, $colour-primary 60%);

$shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 2px;
$shadow-dark: rgba(99, 99, 99, 70%) 0px 5px 8px 2px;
