$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-dark-grey: #eaeaea;
$colour-grey: #f6f6f6;
$colour-white: #fff;
$colour-black: black;
$colour-footer: #353535;
$colour-invalid: #DB464B;
$colour-btn: linear-gradient(175deg, rgba(2,0,36,1) 0%, rgba(239,116,218,1) 0%, rgba(164,92,219,1) 60%);

$shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 2px;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;