$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$color-grey: #f6f6f6;
$colour-white: #fff;
$colour-black: black;
$colour-footer: #353535;
$colour-invalid: #DB464B;

$shadow: 0px 4px 10px grey;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;